cordra/data/*
!cordra/data/webapps-priority
cordra/sw/eudat-dtr/build
cordra/sw/eudat-dtr/build-deps
cordra/sw/eudat-dtr/dist
cordra/sw/eudat-dtr/WebContent/WEB-INF/lib/
.gradle
build
dist
__deleted__
build-deps
