<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************\
    Copyright (c) 2015 Corporation for National Research Initiatives;
                        All rights reserved.
     The CNRI open source license for this software is available at
                  http://hdl.handle.net/20.1000/106
\*************************************************************************/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<session-config>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>

	<context-param>
		<description>Admin password, interim solution.</description>
		<param-name>AdminPassword</param-name>
		<param-value>password</param-value>
	</context-param> 

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>exposedHeaders</param-name>
            <param-value>Location,X-Schema,X-Permission</param-value>
        </init-param>
        <init-param>
            <param-name>allowedMethods</param-name>
            <param-value>GET,POST,DELETE,PUT</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>authorization</filter-name>
        <filter-class>net.cnri.doregistrytools.registrar.auth.RegistrarAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorization</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>objectLocking</filter-name>
        <filter-class>net.cnri.doregistrytools.registrar.jsonschema.ObjectLockingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>objectLocking</filter-name>
        <url-pattern>/objects/*</url-pattern>
    </filter-mapping>
    
</web-app>
