body {
/*    min-height: 1500px;*/
    background-color: #fff;
}

a {
    color: #E5601E;
    text-decoration: none;
}

a:focus, a:hover {
    color: #2a6496;
}

.jumbotron-container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.jumbotron-title {
    margin-top: 0px;
    font-size: 50px;
    line-height: 1.25;
}

.jumbotron-lead {
    font-size: 24px;
    line-height: 1.35;
    padding-top: 10px;
}


.about-header{
/*    font-size: 13px;*/
}

.text-color-white {
  color: #fff;
}

.text-color-white a {
  color: #fff;
  text-decoration: none;
}

.text-color-white a:hover {
  color: #fff;
  /*text-decoration: none;*/
}

.navbar-brand .dtr-logo{
    height: 128px;
    width: 232px;
}

.navbar-brand .eudat-logo{
    height: 48px;
}


/* default settings */
h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-color-orange {
  background-color: #E5601E;
}

.color-primary{
  color: #E5601E;
}

.open .color-primary{
  color: white;
}

.text-color-white {
  color: #fff;
}

.text-color-white a {
  color: #fff;
  text-decoration: none;
}

.text-color-white a:hover {
  color: #fff;
  /*text-decoration: none;*/
}
.align-right{
  text-align: right;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.no-radius {
  border-radius: 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.btn-primary {
    font-size: 14px;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
}


.header-top{
    background: #e5601e;
    padding:5px 0
}

.header{
    background: url("/img/img_header.png") top right no-repeat #ffffff;
    padding: 1% 0;
}

/* bg */
#dtr-mainpage {
    background: url("/img/bg_page.png") no-repeat center;
    position: relative;
    /* padding-bottom: 94px; disabled ATM */
    min-height: 700px;
    margin-top: 40px;
}


/**** new searchbar */

.dtr-search-bar-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f6f6f6;
  margin-bottom: 20px;
/*  padding-bottom : 8px; from old style */
  min-width: 100%;
}

#dtr-search-box .navbar {
/*    margin: 20px 0;*/
}

#dtr-search-form-input-group {
    padding: 8px 0;
}

/*
  to keep the searchbar with buttons in one line
*/
@media (min-width: 768px) { /* ld size */
  #dtr-search-form-input-group {
    width: 670px;
  }
}

@media (min-width: 992px) { /* md size */
  #dtr-search-form-input-group {
    width: 710px;
  }
}

@media (min-width: 1200px) { /* ld size */
  #dtr-search-form-input-group {
    width: 915px;
  }
}

/**** end */

/* footer */
#dtr-footer {
    background: #f7f3e9 url("/img/color-line.jpg") repeat-x top left;
    padding: 20px 10px 10px 10px; 
    font-size: 12px;
    margin-top: 30px;
}

/* login */
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

/* module container */
.modal-body-login {
    padding: 15px 0 15px 0;
}

.login {
    /*margin-top: -60px;*/
    /*display: inline-block;*/
    width: 75%;
    margin: 0 auto;
}

.login-title {
    text-align: center;
}

.login-form { }

.login-form-input-group {
	margin-top: 15px;
	margin-bottom: 15px;
}

.login-form-input-group.i {
    width: 3em;
}

.login-form-button {
	font-size: 1.2em;
    font-weight: 500;
}

.login-forgot-password {
    text-align: right;
    /*margin-top:10px;*/
    padding-top: 10px;
}

.login-b2access {
	position: relative;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 20px;
}

.login-b2access-rule {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 15px !important;
}

.login-b2access-span-or {
	color: #4c4c4c;
	display: block;
	position: absolute;
	left: 50%;
	top: -0.75em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.login-b2access-button {
    display: block;
    color: white;
    background: #e5601e;
    margin-top: 10px;
    font-weight: 500;
}

.login-b2access-button:hover {
    cursor: default;
    color: white;
    background: #666;
}

.login-b2access-button:focus {
    color: white;
}

.login-b2access-button:active {
    color: white;
}

/* placeholder until b2access integration works */
.login-b2access-button:hover span {
    display: none;
}

.login-b2access-button:hover:before {
    cursor: default;
    content: "Temporarily disabled, sorry";
}
/* placeholder end */


